.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: $main-first-color-custom;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.btn {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  max-height: 42px;
  border: none !important;
  border-radius: 5px;
  box-shadow: none !important;
  overflow: hidden;
  outline: none !important;
  padding: 13px 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  &-style {
    position: relative;
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 12px;
    background: linear-gradient(to right, #fffda0 0%,#ffde54 20%,#fddc6a 40%,#ffa020 60%,#f0c618 80%,#ffde54 100%);
    border: none;
    box-shadow: none;
    overflow: hidden;
    outline: none;
    color: $gray-color;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 0;

    &:hover {
      box-shadow: none;
      color: $gray-color;
      text-decoration: none;
      transform: scale(1);
      outline: none
    }
  }
}

form {
  &.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    gap: 20px;
    max-width: 100%;

    .form {
      &-row {
        gap: 20px;
      }
    }
  }
  .form {
    &-group {
      position: relative;
      width: 100%;
      margin: 0;
    }

    &-control {
      height: 42px;
      padding: 16px 10px;
      background: $input-bg-color;
      border: 1px solid $input-border-color;
      border-radius: 5px;
      box-shadow: none !important;
      color: $input-text-color !important;
      outline: none !important;
      transition: $transition-base;

      &:focus {
        &:not(:placeholder-shown) {
          background: $input-focus-bg !important;
          border-color: $input-focus-border !important;

          & ~ .form-label {
            top: -6px;
            left: 16px;
            background: var(--blue);
            padding: 0 4px;
            opacity: 1;
            font-size: 12px;
            line-height: 1;
          }
        }
      }

      &:not(:placeholder-shown) {
        & ~ .form-label {
          top: -6px;
          left: 16px;
          background: var(--blue);
          padding: 0 4px;
          opacity: 1;
          font-size: 12px;
          line-height: 1;
        }
      }

      &.access {
        &:not(:placeholder-shown) {
          border-color: #3eb94a;
        }
      }

      &.error {
        &:not(:placeholder-shown) {
          border-color: #f84a24;
        }
      }
    }

    &-title {
      margin: 0;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }

    &-text {
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      text-align: center;

      a {
        color: var(--gold);
      }
    }

    &-separate-text {
      margin: -20px 0;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
    }

    textarea {
      min-height: 60px;
      max-height: 250px;
    }

    &-input-button {
      position: static;
      top: 0;
      right: 0;
      display: block;
      max-width: 110px;
      width: 100%;
      height: 36px;
      margin: 12px 0 0 auto;
      background: var(--gold);
      color: var(--white);
    }

    &-button-pass {
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 100%;
      padding: 0;
      background: none;
      border: none;
      outline: none !important;
      box-shadow: none !important;

      svg {
        width: 24px;
        height: 24px;
        fill: var(--white);
        pointer-events: none;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  form {
    &.form {
      .form-row {
        gap: 0;
      }
    }
  }
}