:root {
  --white: #ffffff;
  --black: #000000;
  --gold: #FFC700;
}

// Unique colors
$gray-color: #242B35;

// global colors
$title-color: var(--black);
$text-color: var(--white);

$link-color: var(--gold);
$link-hover-color: var(--third-color);

$input-bg-color: #29303A;
$input-border-color: #454B53;
$input-text-color: var(--white);
$input-placeholder-color: #656A71;
$input-focus-bg: $gray-color;
$input-focus-border: var(--white);

// selection colors
$selection-text-color: var(--white);
$selection-bg-color: var(--black);

// fonts
$font-family-base: 'Montserrat', sans-serif;
$font-family-custom: 'Verdana', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-size
$font-size-default: 16px;
$line-height-base: 1;

// behavior
$transition-base: all .35s ease-in-out 0s;

// Bootstrap var
$enable-shadows: true;
$body-color: $text-color;
$grid-gutter-width: 40px;

$grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 1025px,
        xl: 1540px,
);

$container-max-widths: ();

$firstIteration: true;
@each $breakpoint, $value in $grid-breakpoints {
  @if not $firstIteration {
    $container-max-widths: map-merge($container-max-widths, ($breakpoint: $value - $grid-gutter-width));
  }
  $firstIteration: false;
}